<tabset>
    <tab heading="Add variables">
        <p>   
            <span ng-repeat="button in buttons">
                <button class="btn btn-default btn-sm" ng-click="insertVar(button)"><span class="glyphicon glyphicon-plus"></span> <span ng-bind="button"></span></button>
            </span>
        </p>
    </tab>
    <tab heading="Add conditions">
        <p>
            <strong>If </strong>
            <select style="display:inline-block;width:100px" class="form-control" ng-model="newCondition.var" ng-options="button for button in buttons">
                <option value="">Select</option>
            </select>


            <select style="display:inline-block;width:100px" class="form-control" ng-model="newCondition.type">
                <option value="">equal to</option>
                <option value="<">smaller then</option>
                <option value=">">greater then</option>
            </select>
            <input style="display:inline-block;width:100px" class="form-control" ng-model="newCondition.value">
        </p>
        
        <p><strong>Then</strong></p>
        <input class="form-control" ng-model="newCondition.then">
        <p><strong>Else</strong></p>
        <p><input class="form-control" ng-model="newCondition.other"></p>
        <p><button class="btn btn-default btn-sm" ng-click="insertCondition()"><span class="glyphicon glyphicon-plus"></span> Add condition</button></p>
    </tab>
</tabset>

<h3>Your template</h3>
<textarea ng-model="doc.template" placeholder="Your template here" class="form-control form-template"></textarea>
<h3>Your dataset</h3>
<textarea ng-model="dataset" ng-change="parseCsv(dataset)" placeholder="Your dataset here" class="form-control form-csv"></textarea>